@model EmployeesManagement.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Assign User Roles</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h4>Rights Management</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AssignRights">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TaskId" class="control-label"></label>
                                <select asp-for="TaskId" class="form-control" asp-items="ViewBag.Tasks"></select>
                                <span asp-validation-for="TaskId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Assign Rights" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
