@model EmployeesManagement.ViewModels.RolesViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">New Role</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h4>Add New User</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <input asp-for="Id" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RoleName" class="control-label"></label>
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Role" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}