@{
    ViewData["Title"] = "Employee Management System, Welcome ";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col text-center">
        <h1>Employee Management System</h1>
        <p>Welcome</p>
    </div>
</div>
<!-- /.row -->
<!-- Main row -->
