@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null; // Hide the main layout
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link href="~/AdminLTE/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- AdminLTE CSS -->
    <link href="~/AdminLTE/dist/css/adminlte.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @if (Model.DisplayConfirmAccountLink)
        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    </div>

    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE JS -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Validation Scripts -->
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
