@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null; // Hide the main layout
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link href="~/AdminLTE/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- AdminLTE CSS -->
    <link href="~/AdminLTE/dist/css/adminlte.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE JS -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Validation Scripts -->
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
